/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{

  /* 
  colors
  */

  /* backgrounf colors */
  --bg-wild-blue-yonder: rgb(200, 191, 146);
  --bg-carolina-blue: rgb(236, 217, 14);
  --bg-prussian-blue: rgb(68, 64, 34);
  --bg-oxford-blue: rgb(68, 68, 62);
  --bg-oxford-blue-2: rgb(41, 37, 15);


  /* Text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: rgb(255, 253, 229);
  --text-columbia-blue: rgb(242, 231, 186);
  --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --text-carolina-blue: rgb(236, 203, 14);
  --text-shadow-blue: rgb(176, 169, 125);
  --text-slate-gray: rgb(143, 138, 102);

  /* Gradient colors */
  --gradient-1: linear-gradient(90deg, #eae60e, #d1c70b 51%);
  --gradient-2: linear-gradient(90deg, #96ea0e, #a0d10b 51%, #eadf0e);
  --gradient-3: linear-gradient(0deg, #1a1a00, transparent);

/* Border colors */
--border-wild-blue-yonder: rgb(199, 200, 146);
--border-prussian-blue: rgb(68, 68, 34);
--border-white: hsl(0, 0%, 100%);
--border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

/* Default colors */
--white: hsl(0, 0%, 100%, 1);
--black: hsl(0, 0%, 0%, 1);

/* 
Typography 
*/

/* Font family */
--fontFamily-noto_sans: 'Noto Sans', sans-serif;

/* Font size */
--fontSize-1: 2.9rem;
--fontSize-2: 2.0rem;
--fontSize-3: 1.8rem;
--fontSize-4: 1.6rem;
--fontSize-5: 1.5rem;
--fontSize-6: 1.4rem;
--fontSize-7: 1.2rem;
--fontSize-8: 1.3rem;

/* Font weight */
--weight-medium: 500;
--weight-semiBold: 600;
--weight-bold: 700;
--weight-extraBold: 800;

/* Line height */
--lineHeight-1: 1.3;
--lineHeight-2: 1.5;
--lineHeight-4: 1.5;

/* Box Shadow */
--shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
--shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);

/* Border Radius */
--radius-6: 6px;
--radius-8: 8px;
--radius-16: 16px;
--radius-48: 48px;
--radius-circle: 50%;
--radius-pill: 200px;

/* Spacing */
--section-padding: 70px;

/* Transition */
--transition-1: 0.25s ease;
--transition-2: 0.5s ease;
--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
--cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);


}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a, 
img,
span,
input,
button,
ion-icon {
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  height: auto;
}
input,
button {
  border: none;
  background: none;
  font:inherit;
  color: inherit;
}
input{
  outline: none;
  width: 100%;
}
button{
  cursor: pointer;
}
ion-icon{
  pointer-events: none;
}
address{
  font-style: normal;
}
html{
  font-size: 10px;
  scroll-behavior: smooth;
}
body{
  font-family: var(--fontFamily-noto_sans);
  font-size: 1.6rem;
  font-weight: var(--weight-medium);
  line-height: var(--lineHeight-4);
  color: var( --text-slate-gray);
  background-color: var(--bg-oxford-blue);
  overflow-y:overlay;
  height: 300vh;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-carolina-blue);
  border-radius: (var(--radius-pill));
}






/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline:16px;
}
.hover-1,
.hover-2{
  transition: var(--transition-1);
}
.hover-1:is(:hover, :focus-visible){
  color: var(--text-wild-blue-yonder);
  transform: translateX(-5px);
}
.hover-2:is(:hover, :focus-visible){
  color: var(--text-carolina-blue);
}
.profile-card{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.profile-card .profile-banner{
  border-radius: var(--radius-circle );
}





/*-----------------------------------*\
  # Farzine Logo
\*-----------------------------------*/

BODY {
  
  
}

.text--line2 {
  font-weight: 700;
}

.fz{
  position: absolute;
  width: 60%;
  height: 100%;
  top: 25%;
  left: -20%;
  font: 16em/1 Arial;
  font-weight: bold;
}
.menubar-fz{
  position: absolute;
  width: 60%;
  height: 15%;
  top: 2%;
  left: -22%;
  align-items: start;
  font: 16em/1 Arial;
  font-weight: bold;
}
.logo{
  top: 5%;
  left: -10%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 10% 30%;
  stroke-width: 10px;
  -webkit-animation: stroke-offset 5s infinite linear;
          animation: stroke-offset 5s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #0015ff;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #03f1f9;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}






/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header .btn{
  display: none;
}
.header{
  background-color: var(--bg-oxford-blue-2);
  padding-block: 24px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  
}

.header .active{
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-prussian-blue);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-open-btn,
.nav-close-btn{
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
}

.navbar{ 
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340%;
  width: 123%;
  height: 100vh;
  background-color: var(--bg-oxford-blue-2);
  z-index: 2;
  padding: 30px;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);

}
.navbar.active{
  transform: translateX(-340px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}
.navbar-top{ /* top section divider */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 15px;
  padding-block-end: 15px;
  border-block-end: 1px solid var(--bg-prussian-blue);
}

.navbar-list{
  border-block-end: 1px solid var(--border-white-alpha-15);
}
.navbar-link{
  padding-block: 10px;
  color: var(--text-alice-blue);
  font-weight: var(--weight-medium);
}
.navbar-bottom{
  margin-block: 20px 25px;
  padding-block: 30px 20px;
  border-block-start: 1px solid var(--bg-prussian-blue);
}
.navbar.profile-card{
  margin-block-end: 15px;
}
.navbar.profile-card.card-title{
  color: var(--text-columbia-blue);
  font-weight: var(--weight-semiBold);
  font-size: var(--fontSize-6);
}
.navbar.profile-card.card-subtitle{
  /* color: var(--text-shadow-blue);
  font-weight: var(--weight-medium); */
  font-size: var(--fontSize-7);
}
.navbar .link-list{
  columns: 2;
  -webkit-columns: 2;
}
.navbar-bottom-link{
  color: var(--text-alice-blue);
  font-size: var(--fontSize-6);
  padding: 6px;
}
.copyright-text{
  color: var(--text-alice-blue);
  font-size: var(--fontSize-8);
  /* padding: 6px; */

}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #TOPICS
\*-----------------------------------*/





/*-----------------------------------*\
  #FEATURED
\*-----------------------------------*/





/*-----------------------------------*\
  #POPULAR TAGS
\*-----------------------------------*/





/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/